.particula {
  position: fixed;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;

  pointer-events: none;
  z-index: 10;

  animation: movimento linear infinite alternate;
}

@keyframes movimento {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(40px, -30px);
  }

  100% {
    transform: translate(-30px, 40px);
  }
}

#fox {
  position: fixed;
  width: 32px;
  height: 32px;
  left: 100px;
  bottom: 0;
  background: #e87832;
  border: 3px solid #713c20;
  box-sizing: border-box;
  z-index: 10;
}
