.arvore {
  position: fixed;
  bottom: 0;
  left: 70%;
  width: 120px;
  height: 220px;
  z-index: 1;
  image-rendering: pixelated;
  pointer-events: none;
}

.copa {
  position: absolute;
  bottom: 75px;
  left: 0;
  width: 120px;
  height: 130px;
}

.folha {
  position: absolute;
  background: #27833b;
  box-shadow: inset -8px -8px 0 #1b632e;
}

.folha1 {
  width: 50px;
  height: 50px;
  left: 35px;
  top: 0;
}

.folha2 {
  width: 80px;
  height: 45px;
  left: 20px;
  top: 35px;
}

.folha3 {
  width: 120px;
  height: 45px;
  left: 0;
  top: 65px;
}

.folha4 {
  width: 45px;
  height: 45px;
  left: 0;
  top: 30px;
}

.folha5 {
  width: 45px;
  height: 45px;
  right: 0;
  top: 30px;
}

.tronco {
  position: absolute;
  bottom: 0;
  left: 45px;
  width: 30px;
  height: 85px;
  background: #79502c;
  box-shadow: inset -8px 0 #59381f;
}
