:root {
  --grama-1: #2e7d32;
  --grama-2: #388e3c;
  --grama-3: #43a047;
  --grama-4: #1b5e20;
  --grama-5: #4caf50;
  --grama-6: #33691e;

  --terra-1: #79502d;
  --terra-2: #8d6038;
  --terra-3: #634126;
  --terra-4: #a47545;
}
body {
  overflow: hidden;
}
.floor {
  width: 105%;
  height: 30vh;
  position: absolute;
  top: 80vh;
  left: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, 10px);
  grid-auto-rows: 10px;
}
.floor_green {
  width: 10px;
  height: 10px;
}
.floor_dirt {
  width: 40px;
  height: 40px;
  background-color: var(--terra-1);
}
